body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: #ddffe9;
}

main{
    background-image: linear-gradient(to left,#00ff08,#23d529, #39aa3d);
    border-radius: 30px;
    padding: 10px;
    width: 700px;
    margin: 25%;
    margin-top: 0;
    margin-bottom: 0;
}

h1{
    text-align: center;
    color: #5323ff;
}

#lunar{
    color: #39aa3d;
}

h2{
    text-align: center;
    color: cadetblue;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    border-radius: 20px;
}

.a{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FC9B49;
    border-radius: 30px;
    margin: 5px;
}

a{
    color: azure;
}

section{
    display: grid;
    place-items: center;
}