body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: #ddffe9;
}

/*main{
    background-image: linear-gradient(to left,#00ff08,#23d529, #39aa3d);
    border-radius: 30px;
    padding: 10px;
} */

section{
    background-image: linear-gradient(to left,#00ff08,#23d529, #39aa3d);
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

h1{
    text-align: center;
    color: #5323ff;
}
h2{
    text-align: center;
    color: cadetblue;
}
h3{
    text-align: center;
    color: #39aa3d;
}

h4{
    text-align: center;
    color: darkgreen;
}

h5{
    text-align: center;
    color: seagreen;
}


.img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img{
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    width: 80%;
}


a{
    color: white;
}

.a{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-image: linear-gradient(to left,#00ff08,#23d529, #39aa3d); */
    background-color: #FC9B49;
    border-radius: 30px;
    margin: 10px;
}
